<header></header>
<section>
  <div class="filter-close mat-elevation-z6" *ngIf="!toggleFilterDisplay">
  <div class="close-btn mat-elevation-z7">
    <button mat-icon-button (click)="toggleFilterPanel()"><<</button>
  </div>
  </div>

  <div class="filters mat-elevation-z6 " [ngClass]= "(toggleFilterDisplay ? 'show-filter' : 'hide-filter')" >
    
    <div class="toggle-open-btn mat-elevation-z7">
      <button mat-icon-button (click)="toggleFilterPanel()">>></button>
    </div>
    
    <form [formGroup]="filterForm">

      <mat-form-field>
        <input matInput placeholder="By" formControlName="saidBy" [matAutocomplete]="by">

        <mat-autocomplete #by="matAutocomplete">
          <mat-option *ngFor="let saidBy of filteredSaidByOptions | async" [value]="saidBy">
            {{saidBy}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Category" formControlName="category" [matAutocomplete]="category">

        <mat-autocomplete #category="matAutocomplete">
          <mat-option *ngFor="let category of filteredCategoryOptions | async" [value]="category">
            {{category}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button  mat-raised-button color="warn" [disabled]="!(filterForm.get('category').value || filterForm.get('saidBy').value)" (click)="applyFilter()">Apply Filter</button>

    </form>

  </div>
  <div class="quote-container">

    <div class="quote-list">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let quote of (quoteList | slice: lowValue : highValue)">
          <div class="quote">
            <div>  <q>{{quote.quote}}</q>  </div>
            <div class="quote-meta">
              <div class="meta">
                <div  class="tags" *ngFor="let tags of quote?.category">{{tags}}</div>
              </div>
               <strong>~ {{quote.saidBy}}</strong> 
              </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

  <div class="page-nav mat-elevation-z6">
    <mat-paginator [length]="quoteList.length" pageSize="pageSize" (page)="getPaginatorData($event)"
      [pageSizeOptions]="pageSizeOptions" showFirstLastButtons="false">
    </mat-paginator>
  </div>

</section>